.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container>iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 400px;
}
.box{
    position: absolute;  
    top: 0px;
    left:670px;
}